.heading {
  padding: 30px 0;
}

.full-width {
  width: 100%;
}

.mat-list-base .mat-list-option {
  background: rgba(0,0,0,.04);
  border-bottom: 1px solid #ccc;
}

.todo-count {
  margin-top: 12px;
}
